**/node_modules
**/__pycache__
static/bundle.js
config.py
data_gb
*.gz*
config*
cmd_*
out_*
errors_*
r12_out*
inputs*
output_data*
*.tbi
_GB_input_R12_USED*
_logs_*
*other*
*inputs*
*dummy*
tests*
r12*