<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
<head>
<title>FGQ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='react-table.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="reactEntry"></div>
<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
